@using Recipe_Organizer_MVC.Models
@using Recipe_Organizer_MVC.Interfaces

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title: Recipe Organizer MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MasterPage.css" rel="stylesheet" type="text/css" /> 
    <style></style>
</head>
<body>

    @{ 
        ISearch searchObj = (ISearch)System.Web.HttpContext.Current.Session["SearchObject"];
    }

    <div class="container-fluid page-pad">
        <div class="row-fluid">
            <div class="col-xs-3 no-pad">
                <div class="upper-left-master">
                    <div class="row no-pad">
                        <div class="logo-recipe no-pad">Recipe</div>
                        <div class="logo-organizer no-pad">Organizer</div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                @using (Html.BeginForm("Edit", "Home"))
                {
                    <div class="row no-pad well">
                        <div class="form-group buttons">
                            <div class="btn-group" role="group">
                                <div class="center-buttons">
                                    <button type="submit" name="buttonVal" value="new" class="btn btn-primary">New Recipe</button>

                                    @if (searchObj == null || searchObj.SelectedRecipe == null)
                                    {
                                        //This needs to be an input so the triple-click won't select the text when disabled
                                        <input type="button" class="btn btn-primary disabled" value="Edit Recipe">
                                    }
                                    else
                                    {
                                        <button type="submit" name="buttonVal" value="edit" class="btn btn-primary">Edit Recipe</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @{ Html.RenderPartial("~/Views/Partial/Search.cshtml", new ExcelSearch()); }
            </div>
            <div class="col-xs-9">
                @RenderBody() 
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
