@using Recipe_Organizer_MVC.Models
@model Recipe

@*editor html goes here.....*@

<head>
    <link href="~/Content/Recipe.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Edit.css" rel="stylesheet" type="text/css" />
</head>

@using (Html.BeginForm("Update", "Home"))
{
    <div class="well">
        <div class="row">
            @*Title and description section*@
            <div class="col-xs-12">
                <div class="jumbotron recipe-color-blue jumbotron-pad">
                    <div class="row">
                        <div class="col-xs-2 text-right">
                            <label class="vcenter-title" for="title">Title: </label>
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "title", value = "@Model.Title" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-right">
                            <label class="vcenter-title" for="descrip">Description: </label>
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", id = "descrip", value = "@Model.Description" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*Cooking method section*@
            <div class="col-xs-10 col-sm-offset-1 recipe-baking-pad">
                <div class="well-sm recipe-color-green">
                    <div class="row">
                        <div class="col-xs-3 col-sm-offset-1  text-right">
                            <label class="vcenter-method" for="cookmethod">Cooking Method and Time: </label>
                        </div>
                        <div class="col-xs-7">
                            @Html.TextBoxFor(x => x.CookingInstructions, new { @class = "form-control", id = "cookmethod", value = "@Model.Description" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @*Ingredients and instructions sections*@
            <div class="col-xs-5">
                @*Ingredients section*@
                <div class="panel panel-info">
                    <div class="panel-heading recipe-panel-header-font text-center">Ingredients</div>
                    <div class="panel-body">
                        @for (int i = 0; i < Model.Ingredients.Count; i++)
                        {
                            bool hasHeader = !string.IsNullOrWhiteSpace(Model.Ingredients[i].SectionHeader);
                            if (hasHeader)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="recipe-set-part-ing">@Model.Ingredients[i].SectionHeader</h4>
                                    </div>
                                </div>
                            }
                            foreach (Ingredient ing in Model.Ingredients[i].ItemList)
                            {
                                <div class="row">
                                    <div class="recipe-ingredients-item-border"></div>
                                    <div class="col-xs-4 no-pad">
                                        <div class="recipe-ingredients-quantity">@ing.Quantity</div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="recipe-ingredients-item">@ing.Item</div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="recipe-ingredients-item-border"></div>
                            </div>

                            if (hasHeader && i < Model.Ingredients.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                @*Instructions section*@
                <div class="panel panel-info">
                    <div class="panel-heading recipe-panel-header-font text-center">Instructions</div>
                    <div class="panel-body recipe-instructions-pad">
                        @for (int i = 0; i < Model.Instructions.Count; i++)
                        {
                            bool hasHeader = !string.IsNullOrWhiteSpace(Model.Instructions[i].SectionHeader);
                            if (hasHeader)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="recipe-set-part-ins">@Model.Instructions[i].SectionHeader</h4>
                                    </div>
                                </div>
                            }
                            for (int j = 1; j <= Model.Instructions[i].ItemList.Count; j++)
                            {
                                <div class="row recipe-instruction-item-pad">
                                    <div class="col-xs-2">
                                        <div class="recipe-directions-counter-box pull-right">
                                            <div class="recipe-directions-counter">@j.</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="recipe-directions-item"><p>@Model.Instructions[i].ItemList[j - 1]</p></div>
                                    </div>
                                </div>
                            }
                            if (hasHeader && i < Model.Instructions.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            @*Notes section*@
            <div class="col-xs-10 col-sm-offset-1">
                <div class="well-sm recipe-color-green">
                    <div class="row">
                        <div class="col-xs-1 col-sm-offset-1 text-right">
                            <label class="vcenter-method" for="notes">Notes: </label>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", id = "notes", value = "@Model.Notes" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-offset-1">
            <div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
    </div>
}
